<h1>Listing technicians</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @technicians.each do |technician| %>
  <tr>
    <td><%= technician.name %></td>
    <td><%= link_to 'Show', technician %></td>
    <td><%= link_to 'Edit', edit_technician_path(technician) %></td>
    <td><%= link_to 'Destroy', technician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Technician', new_technician_path %>
