<%= form_for(:action) do |f| %>
  <% if @action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
      <% @action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_id %><br />
    <%= select('ticket_id', 'ticket_id', Ticket.all.collect{|i| [ i.id]}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :technician_id %><br />
    <%= select('actTechnician', 'technician_id', Technician.all.collect{|t| [t.name, t.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
