<h1>Listing actions</h1>
<% if !@ticket.actions.empty? %>
<table>
  <tr>
    <th>Ticket</th>
    <th>Description</th>
    <th>Technician</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% [@ticket,actions].each do |action| %>
  <tr>
    <td><%= action.ticket_id %></td>
    <td><%= action.description %></td>
    <td><%= action.technician_id %></td>
    <td><%= link_to 'Show', [@ticket, action] %></td>
    <td><%= link_to 'Edit', edit_ticket_path(@ticket, action) %></td>
    <td><%= link_to 'Destroy', [@ticket, action], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<% else %>
    <p>Ticket <%= @ticket.id %> does not contain any log entries.</p>
<% end %>

<%= link_to 'New Action', ticket_actions_path %>

