<p id="notice"><%= notice %></p>

<p>
  <b>Ticket:</b>
  <%= @action.ticket_id %>
</p>

<p>
  <b>Description:</b>
  <%= @action.description %>
</p>

<p>
  <b>Technician:</b>
  <%= @action.technician_id %>
</p>


<%= link_to 'Edit', ticket_action_path(@action) %> |
<%= link_to 'Back', :ticket %>
