

<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :customer_id %><br />
    <%= select('ticket','customer_id', Customer.all.collect{|c| [c.name, c.id]}) %>
  </div>
  <div class="field">
    <%= f.label :problem %><br />
    <%= f.text_field :problem %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
