<h1>Listing tickets</h1>

<%= form_tag tickets_path, :method => :get do %>
    <p>
      <b>search by customer ID #:</b>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'search', :customer_id => nil %>
    </p>
<% end %>

<table>
  <th>Ticket #</th>
  <th>Summary</th>
  <th>Customer</th>
  <th>Created</th>
  <th>Updated</th>



  <th></th>
  <th></th>
  <th></th>
  </tr>

  <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.problem %></td>
        <td><%= ticket.customer.name %></td>
        <td><%= ticket.created_at %></td>
        <td><%= ticket.updated_at%></td>

        <td><%=  %></td>

        <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>

