

<p>
  <b>Customer:</b>
  <%= @ticket.customer_id %>
</p>

<p>
  <b>Problem:</b>
  <%= @ticket.problem %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<hr>
<h2>Actions</h2>
<table>
  <tr>
    <th>Customer</th>
    <th>Description</th>
  </tr>
  <% for action in @ticket.actions %>
      <tr>
        <td><%= action.call_id %></td>
        <td><%= action.description %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New Action', new_ticket_action_path(@ticket) %>
<%= link_to 'All Actions', ticket_action_path(@ticket) %>