// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color:#999999;
}
p{
  font-family:"Tahoma";
  font-size:14px;
}

a:link {color:#00008b;font-size: 13px;}    /* unvisited link */
a:visited {color:#00008b;} /* visited link */
a:hover {color:#00006c;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

table, th, td
  {
  font-size:13px;
  text-align:center;
  padding-top:1px;
  padding-bottom:1px;
  border:1px solid grey;
}