<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk by Pedro Ferreira <%= controller.action_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id= 'ticket'>
<div id='header'>
  <%=  image_tag 'helpdesk.jpg' %>


</div>
<div id='output'>
  <p style= 'color:blue'><%= flash[:notice]%></p >
</div>
<div id='columns'>
    <div id='sidebar'>
    <%= link_to 'Tickets', :controller => '/tickets' %> <br/>
    <%= link_to 'Customers', :controller => '/customers' %> <br/>
    <%= link_to 'Technicians', :controller => '/technicians' %> <br/>
    </div>
<div id='main'>

<%= yield %>
</div>
</div>

</body>
</html>
